# Discord bot token, for error logging via bot. Token should start with "Bot"
# Example: Bot XYZ...
DISCORD_TOKEN=

# Discord channel id to which to log the errors
DISCORD_CHANNEL_ID=

# Client ID of google oauth client
PUBLIC_GOOGLE_OAUTH_CLIENT_ID=

# Client secret of google oauth client
GOOGLE_OAUTH_CLIENT_SECRET=

# Client ID of github oauth client
PUBLIC_GITHUB_OAUTH_CLIENT_ID=

# Client secret of github oauth client
GH_OAUTH_CLIENT_SECRET=

# Server API's URL from docker compose point of view. No need to change unless API container name
# or port is changed
PUBLIC_API_BASE_URL=http://api:8080

# The URL of frontend, for example, https://hostname.com
PUBLIC_FRONTEND_BASE_URL_BROWSER=https://data-gen.eu