# Key for Chatgpt API
CHATGPT_KEY=

# Key for Gemini API
GEMINI_KEY=

# Discord bot token, for error logging via bot. Token should start with "bot"
# Example: Bot XYZ...
DISCORD_TOKEN=

# Discord channel id to which to log the errors
DISCORD_CHANNEL_ID=